<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>ActoresApp | Página de Inicio</title>
    <!-- Enlaces a Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Agrega otros enlaces a tus estilos CSS si es necesario -->
    <style>
        /* Agrega un estilo personalizado si es necesario */
        body {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>

<div class="container">
    <h2 class="text-center">Bienvenido Administrador</h2>

    <div class="row mt-4">
        <div class="col-md-4 offset-md-2">
            <div class="card h-100">
                <div class="card-body d-flex flex-column align-items-center">
                    <h5 class="card-title">Ver Actores</h5>
                    <p class="card-text">Explora la lista de actores registrados en la aplicación.</p>
                    <a th:href="@{/actores/listado}" class="btn btn-primary mt-auto">Ir a Actores</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column align-items-center">
                    <h5 class="card-title">Ver Películas</h5>
                    <p class="card-text">Descubre las películas disponibles y sus detalles.</p>
                    <a th:href="@{/peliculas/listado}" class="btn btn-primary mt-auto">Ir a Películas</a>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Enlaces a Bootstrap JavaScript y otros scripts si es necesario -->

</body>
</html>
